.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/images/landing5.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #242424;
}
.home .right {
  width: 57%;
  height: calc(100% - 5.5rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home .right .content {
  width: 80%;
  height: 60%;
  display: flex;
  margin-top: -36px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home .right .content h1 {
  margin: 0.5px;
  margin-left: 0px;
  text-transform: capitalize;
}
.home .right .content .below {
  margin-top: -15px;
}
.home .right .content h1 span {
  color: #0272ff;
  font-size: 2.6rem;
  font-weight: bold;
}
.home .right .content h2 {
  font-size: 1.3rem;
  margin: 3px;
  margin-left: 0px;
}
.home .right .content p {
  font-size: 0.96rem;
  margin-top: 0px;
}
.home .right .content button {
  background-color: #0272ff;
  border: none;
  color: white;
  width: 33%;
  height: 50px;
  font-size: 1.06rem;
  border-radius: 6px;
  font-weight: 540;
  margin-top: 5px;
  transition: 0.4s ease;
}
.home .right .content button:hover {
  background-color: #0249b3;
  transform: scale(1.06);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 4rem);
  }
  .home .left {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .left img {
    width: 80%;
    height: 80%;
  }

  .home .right {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .right .content {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
    justify-content: center;
    margin-top: -30px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home .right .content h1 {
    font-size: 1.4rem;
    margin: 0.5px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
  }
  .home .right .content .below {
    margin-top: -15px;
  }
  .home .right .content h1 span {
    color: #0272ff;
    font-size: 2.6rem;
    font-weight: bold;
  }
  .home .right .content h2 {
    font-size: 1.3rem;
    margin: 3px;
    margin-left: 0px;
  }
  .home .right .content p {
    font-size: 0.96rem;
    margin-top: 0px;
  }
  .home .right .content button {
    background-color: #0272ff;
    border: none;
    color: white;
    width: 60%;
    height: 50px;
    font-size: 1.06rem;
    border-radius: 6px;
    font-weight: 540;
    margin-top: 5px;
    transition: 0.4s ease;
  }
  .home .right .content button:hover {
    background-color: #0249b3;
    transform: scale(1.06);
    cursor: pointer;
  }
}
